*.jl.cov
*.jl.*.cov
*.jl.mem

Manifest.toml

deps/deps.jl

.ftpconfig
.DS_Store
.vscode
.idea/*
*.msh
*.bin
*.jld
*.jld2
*.h5
*.vtk
*.vti
*.vtu
*.vtm
*.pvd

docs/build/
docs/site/
docs/src/examples/generated
